<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MSI.Helper">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.AppCompat.Light">

        <activity
            android:name="com.MSI.Helper.firstlink"
            android:exported="true" />
        <activity
            android:name="com.MSI.Helper.secondlink"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <activity
            android:name="com.MSI.Helper.thirdlink"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <activity
            android:name="com.MSI.Helper.fourthlink"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <activity
            android:name="com.MSI.Helper.fifthlink"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <activity
            android:name="com.MSI.Helper.sixthlink"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <activity
            android:name="com.MSI.Helper.seventhlink"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <activity
            android:name="com.MSI.Helper.eighthlink"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <activity
            android:name="com.MSI.Helper.ninthlink"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <activity
            android:name="com.MSI.Helper.tenthlink"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name="com.MSI.Helper.selectionPage"
            android:exported="true" />

        <activity
            android:name="com.MSI.Helper.mainpage"
            android:exported="true" />
        <activity
            android:name="com.MSI.Helper.newlogin"
            android:exported="true" />
        <activity
            android:name="com.MSI.Helper.dashboard"
            android:exported="true" />
        <activity
            android:name="com.MSI.Helper.MainActivity2"
            android:exported="true" />
        <activity
            android:name="com.MSI.Helper.MainActivity"
            android:exported="true" />

        <activity
            android:name="com.MSI.Helper.newone"
            android:screenOrientation="portrait"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>